* {
  box-sizing: border-box;
}

:root {
  --color-foreground: #fefefe;
  --color-background: #000000;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circles {
  margin-right: 30px;
}

.time-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
  }
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  font: inherit;
  border: none;
  border-radius: 1em;
  padding: 0.75em 3em;
  background: rgba(255, 255, 255, 0.1);
  color: inherit;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background 0.2s linear;
}

.button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.start-button {
  margin-top: 80px;
}

.title {
  font-size: 2.6rem;
  margin-top: 0;
  margin-bottom: 80px;
}

.minutes-label {
  transition: opacity 0.2s linear;
}

.minutes-label.hidden {
  opacity: 0;
}

#step-1 {
  transition: opacity 0.5s linear;
}

#step-1.inactive {
  opacity: 0;
}

#step-1.active {
  opacity: 1;
}
