* {
  box-sizing: border-box;
}

:root {
  --color-foreground: #fefefe;
  --color-background: #000000;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
